@import 'normalize.css';
@import 'assets/scss/variables.scss';
@import 'assets/scss/option-groups.scss';
@import 'assets/scss/buttons-container.scss';
@import 'assets/scss/scroll-container.scss';


html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 8px 0;
    font-size: 1.2em;
    
    &:first-letter {
        font-size: 1.2em;
        padding-left: 24px;
        line-height: 24px;
    }
    
    @media all and (min-width: 640px) {
        font-size: 2em;
        padding: 16px 0;
        &:first-letter {
            font-size: 1em;
            padding-left: 0;
            line-height: auto;
        }
    }
}
body {
  background: #222;
  color: #fff;
  margin: 0;
  font-family: "DroidSans";
}

#app {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: #222;
}

.viewport {
    width: 100%;
    padding-top: 32px;
    float: left;

    .__hideCursor {
        cursor: none;
    }

    > [ratio="1x1"] {
        margin: auto;
        max-width: calc(80vh - 64px);
    }
    .footnote {
        text-align:center;
        font-family: "FixedSys";
        font-size: .8em;
        text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    }
}

.sidebar {
    width: 100%;
    padding-top: 64px;
    float: left;
}

@media all and (min-width: 640px) {
    .viewport {
        padding-right: 32px;
        width: calc(60% - 40px);
    }
    .sidebar {
        padding-top: 64px;
        margin-left: 40px;
        width: 40%;
    }
}

.viewport-content {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 1/1;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,.16);
    translate: 0 0;
}

h1 {
    font-family: "Fixedsys"
}

* {
    box-sizing: border-box
}

hr {
    border: .5px solid #aaa;
}

input:-webkit-autofill {
  background-color: #fff;
}

//selection
::selection {
  background: $accentColor;
  color: #333;
}

::-moz-selection {
  background: $accentColor;
  color: #333;
}


@font-face {
font-family: Fixedsys;
src: url("/src/assets/fonts/fixed-sys.otf");
}

@font-face {
    font-family: DroidSans;
    src: url("/src/assets/fonts/DroidSans.otf");
}
@font-face {
    font-family: DroidSans;
    font-weight: bold;
    src: url("/src/assets/fonts/DroidSans-Bold.otf");
}


//main router outlet
.app {
  height: 100%;
  position: relative;
}
.outlet-full {
    overflow-y: auto;
    display: flex;
    transition: width ease 0.24s;
    width: 100%;
    height: 100%;
    opacity: 1; transform: translateY(0);
    > * {
        width: calc(100% - 32px);
        min-height: calc(100vh - 32px);
        margin: 0 16px 32px 16px;
    }
    @media all and (min-width: 640px) {
        > * {
            margin: 0 32px 32px 64px;
            width: calc(100% - 96px);
        }
    }
}


.button {
    color: #eee;
    background-color: $accentColor;
    border: 0 none transparent;
    padding: 8px 16px;
    transition: .16s all ease;

    &.default {
        background-color: #eee;
        color: #222;
        &:hover, &:focus {
            box-shadow: 8px 8px 0 rgba(0,0,0,1);
            cursor: pointer;
            border-radius: 2px;
        }
    }
    
    &.__isSmall {
        padding: 4px 8px;
        font-size: 12px;
    }

    &.__isDisabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}